{block content}

<div class="container mt-5" style="width: 30%;">
    <form n:name=loginForm>
        <div class="mb-3" id="name-input">
            {label username, class=>"form-label"/}
			{input username, class=>"form-control"}
        </div>
        <div class="mb-3" id="email-input">
            {label password, class=>"form-label"/}
			{input password, class=>"form-control"}
        </div>
        <button type="submit" class="btn btn-primary">Příhlásit</button>
    </form>

</div>